$pink: #f28ab2;
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-color: $pink;
}
.main-container {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  background-color: white;
  width: 25%;
  border-radius: 5px;
  margin: auto;
  text-align: center;
  margin-top: 20vh;
}
h4 {
  font-size: 20px;
  padding-bottom: 30px;
  padding-top: 20px;
}
.article {
  display: flex;
  margin-top: 2vh;
  width: 250px;
  padding: 10px;
  margin: auto;
}
h4 {
  margin: 0;
  padding: 1vh;
}
p {
  font-size: 0.8rem;
  color: #617d98;
}
.image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 100%;
  margin-right: 20px;
}
.btn {
  border-radius: 8px;
  background-color: $pink;
  color: white;
  border: none;
  padding: 10px 50px 10px 50px;
  margin: 1.3rem;
  font-size: 0.8rem;
  letter-spacing: 3px;
}
@media only screen and (min-width: 761px) and (max-width: 1560px) {
  .main-container {
    width: 50%;
  }
}
@media only screen and (min-width: 540px) and (max-width: 760px) {
  .main-container {
    width: 50%;
  }
}

@media only screen and (min-width: 280px) and (max-width: 480px) {
  .main-container {
    margin-top: 5vh;
    width: 80%;
  }
  .btn {
    padding: 5px 50px 5px 50px;
  }
}
